*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

body{
    background-color: rgb(197, 190, 190);
}
#loading{
    width: 150px;
    height: 150px;
    border: 30px solid blue;
    border-top: 30px solid red;
    border-radius: 50%;
    animation: aylan 2s infinite;
    display: none;
}



@keyframes aylan{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.box{
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

h1{
    text-align: center;
    font-size: 30px;
    color: blue;
    margin: 50px auto;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
select{
    width: 200px;
    padding: 10px 20px;
    border-radius: 10px;
}

input{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

h2{
    font-size: 20px;
    text-align: center;
}
.p{
    font-size: 16px;
}


#box-ota{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
}

img{
    width: 120px;
    padding-left: 10px;
}






@media()